main {
  display: flex;
  align-items: center;

  .card_block {
    position: relative;
    width: 60vw;
    height: 50vh;
    overflow: hidden;

    .word_cart {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 70px 70px auto;
      border: 1px solid gray;
      border-radius: 15px;
      position: absolute;
      left: 0;

      transition: left .5s ease;

      width: 300px;
      @media screen and (min-width: 768px) {
        width: 50vw;
        padding: 20px;
      }

      .en_word,
      .ru_word {
        grid-column: 1 / 3;
        text-align: center;
        font-size: 40px;
        box-sizing: border-box;
        transition: .5s;
      }

      .hide {
        opacity: 0;
      }
      div.btn_box {
        grid-row: 3 /4;
      }
    }

    .go_out {
      /* position: absolute; */
      left: -100vw;
    }
    .bern {
      /* transition: 1s; */
      left: 100vw;
    }
    .go_in {
      right: 0vw;
    }
  }
}
